.form {
padding-right: 25px;
	// .form__input

	&__input {
		height: 50px;
		padding: 12px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.203);
		color: $white;
		font-size: 14px;
		transition: background-color 0.2s ease-in;

		&::placeholder {
			color: $placeholder
		}

		&:focus {
		background-color: rgba(255, 255, 255, 0.3);

		}
	}
   &__privacy {
		font-size: 13px;
		color: $mutade;
		text-align: center;
		line-height: 1.23;

		&--bottom {
			@include mediaTablet {
				grid-row: 4 / 5;
			}
		}
	}
	// .form__btn

	&__btn {
height: 50px;
padding: 12;
font-size: 16px;
color: $white;
font-size: 700;
text-align: center;
background-color: $accent;
transition: background-color 0.2s ease-in;

 &:hover {
	background-color: saturate($accent, 10%);

 }
	
}}